## For DBMind-core ##
paramiko==3.4.0
numpy
scikit-learn
requests
sqlparse
fastapi
uvicorn
sqlalchemy
psycopg2-binary
pycryptodome
## For components ##
## Prometheus Exporter
pyyaml
prometheus-client
## X-Tuner ##
bayesian-optimization
ptable
